@model IEnumerable<WebService.DATA.Model.SP_LISTAPACIENTE_Result>

@{
    ViewBag.Title = "listadoPacientes";
}

<h2>LISTADO DE PACIENTES</h2>

<p>
    @Html.ActionLink("REGISTRAR PACIENTE", "nuevoPaciente")
</p>
<table class="table">
    <tr>
        <th>
            CODIGO
        </th>
        <th>
            NOMBRE
        </th>
        <th>
            APELLIDO
        </th>
        <th>
            FECHA DEL PACIENTE
        </th>
        <th>
            TELEFONO DEL PACIENTE
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDE_PAC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOM_PAC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APE_PAC)
            </td>
            <td>
                @item.FNA_PAC.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FON_PAC)
            </td>
            <td>
                @Html.ActionLink("Actualizar", "actualizarPaciente", new { id = item.IDE_PAC }) |
                @Html.ActionLink("Detalles", "detallePaciente", new { id = item.IDE_PAC }) |
                @Html.ActionLink("Eliminar", "eliminarPaciente", new { id = item.IDE_PAC })
            </td>
        </tr>
    }

</table>
